@charset "utf-8";

@import "./assets/styles/vendors";
@import "./assets/styles/variables";
@import "./assets/styles/mixins";
@import "./assets/styles/functions";
@import "./assets/styles/typography";
@import "./assets/styles/layout";

html, body {
  height: 100%;
  font-size: 12px;
  font-family: $font-family-base;
  background-color: $bg-color;
  color: $text-color;
}

a {
  color: $link-text-color;
  text-decoration: none;
  &:hover {
    color: darken($link-text-color, 5%);
  }
}
